# fillna, dropna로 결측치 다루기

In [12]:
import pandas as pd
import numpy as np

In [15]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0], [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, 5]],
                  columns=list('ABCD'))
df

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [21]:
# axis가 0일 때는 row를 의미 ,  how='all'일때 하나라도 null 값이 있어도 포함 
df.dropna(axis=0, how='all')

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [19]:
# axis가 1일 때는 columns를 의미 ,  how='any'일때 null 값이 없는것만 빼기 
df.dropna(axis=1, how='any')

   D
0  0
1  1
2  5

In [23]:
#결측치를 0으로 채우기
df.fillna(0)

     A    B    C  D
0  0.0  2.0  0.0  0
1  3.0  4.0  0.0  1
2  0.0  0.0  0.0  5

In [24]:
# A 컬럼 결측치는 0으로 , B컬럼에 있는 결측치는 1로 
# C컬럼에 있는 결측치는 2로, D컬럼에 있는 결측치는 3으로 채우기
values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
df.fillna(value=values)

     A    B    C  D
0  0.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  0.0  1.0  2.0  5

In [26]:
df['D'].mean()

2.0

In [28]:
fill_na_value = df['D'].max()
fill_na_value

5

In [29]:
df.fillna(fill_na_value)

     A    B    C  D
0  5.0  2.0  5.0  0
1  3.0  4.0  5.0  1
2  5.0  5.0  5.0  5

In [34]:
df

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [35]:
#isnull() 메소드는 관측치가 결측이면 True, 결측이 아니면 False의 boollean 값을 반환
df.isnull().sum()

A    2
B    1
C    3
D    0
dtype: int64

In [36]:
#notnull() 메소드는 관측치가 결측이면 False, 결측이 아니면 True를 반환
df.notnull().sum()

A    1
B    2
C    0
D    3
dtype: int64