# assign 으로 새로운 컬럼 만들기, qcut으로 binning, bucketing 하기

In [1]:
import pandas as pd
import numpy as np

In [3]:
#A는 1~10까지 값을 채우고 B는 열의 개수에 맞게 랜덤으로 숫자를 채워넣기
df = pd.DataFrame({'A': range(1, 11), 'B': np.random.randn(10)})
df

    A         B
0   1  0.831129
1   2  0.329123
2   3 -0.031274
3   4  0.034718
4   5  1.257582
5   6 -0.127617
6   7  1.300063
7   8  0.328201
8   9 -0.742903
9  10  0.346307

In [4]:
df.assign?

In [6]:
#assign 사용
#A의 값에 로그를 씌워서 in_A라는 컬럼에 값을 넣기 
#lambda라는 익명 함수를 통하여 x라는 값으로 받음 
df.assign(ln_A = lambda x: np.log(x.A)).head()

   A         B      ln_A
0  1  0.831129  0.000000
1  2  0.329123  0.693147
2  3 -0.031274  1.098612
3  4  0.034718  1.386294
4  5  1.257582  1.609438

In [12]:
# 익명함수가 없음으로 x대신 데이터프레임 이름을 적어서 해야함 
df['ln_A'] = np.log(df.A)
df

    A         B      ln_A
0   1  0.831129  0.000000
1   2  0.329123  0.693147
2   3 -0.031274  1.098612
3   4  0.034718  1.386294
4   5  1.257582  1.609438
5   6 -0.127617  1.791759
6   7  1.300063  1.945910
7   8  0.328201  2.079442
8   9 -0.742903  2.197225
9  10  0.346307  2.302585

In [13]:
pd.qcut?

In [17]:
pd.qcut(df.B , 2, labels=["good", "bad"])

0     bad
1     bad
2    good
3    good
4     bad
5    good
6     bad
7    good
8    good
9     bad
Name: B, dtype: category
Categories (2, object): [good < bad]

In [18]:
#컬럼에서의 최대값을 가져오기 ,axis=1
df.max(axis=1)

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7     8.0
8     9.0
9    10.0
dtype: float64

In [19]:
#로우의 최대값을 가져오기,axis=0
df.max(axis=0)

A       10.000000
B        1.300063
ln_A     2.302585
dtype: float64

In [24]:
# A의 클립 값을 -1부터 5까지의 값으로 바꿔주기
df['A'].clip(lower = -1 , upper =5)

0    1
1    2
2    3
3    4
4    5
5    5
6    5
7    5
8    5
9    5
Name: A, dtype: int64

In [27]:
#B에 있는 -의 값에 절대값을 씌워 +값으로 변환 
df['B'].abs()

0    0.831129
1    0.329123
2    0.031274
3    0.034718
4    1.257582
5    0.127617
6    1.300063
7    0.328201
8    0.742903
9    0.346307
Name: B, dtype: float64